
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1461563006'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1461563006#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1461563006') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1461563006') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1461563006#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-alarmclock:before { content: "\e600"; }
.icon-attachment:before { content: "\e601"; }
.icon-aperture:before { content: "\e602"; }
.icon-desktop:before { content: "\e603"; }
.icon-document:before { content: "\e604"; }
.icon-bargraph:before { content: "\e605"; }
.icon-bookopen:before { content: "\e606"; }
.icon-briefcase:before { content: "\e607"; }
.icon-browser:before { content: "\e608"; }
.icon-calendar:before { content: "\e609"; }
.icon-camera:before { content: "\e60a"; }
.icon-chat:before { content: "\e60b"; }
.icon-clipboard:before { content: "\e60c"; }
.icon-compass:before { content: "\e60d"; }
.icon-flag:before { content: "\e60e"; }
.icon-focus:before { content: "\e60f"; }
.icon-genius:before { content: "\e610"; }
.icon-documents:before { content: "\e611"; }
.icon-download:before { content: "\e612"; }
.icon-envelope:before { content: "\e613"; }
.icon-expand:before { content: "\e614"; }
.icon-linegraph:before { content: "\e615"; }
.icon-mappin:before { content: "\e616"; }
.icon-global:before { content: "\e617"; }
.icon-happy:before { content: "\e618"; }
.icon-hazardous:before { content: "\e619"; }
.icon-heart:before { content: "\e61a"; }
.icon-key:before { content: "\e61b"; }
.icon-laptop:before { content: "\e61c"; }
.icon-layers:before { content: "\e61d"; }
.icon-lightbulb:before { content: "\e61e"; }
.icon-profilefemale:before { content: "\e61f"; }
.icon-profilemale:before { content: "\e620"; }
.icon-recycle:before { content: "\e621"; }
.icon-megaphone:before { content: "\e622"; }
.icon-mobile:before { content: "\e623"; }
.icon-pictures:before { content: "\e624"; }
.icon-presentation:before { content: "\e625"; }
.icon-trophy:before { content: "\e626"; }
.icon-refresh:before { content: "\e627"; }
.icon-ribbon:before { content: "\e628"; }
.icon-search:before { content: "\e629"; }
.icon-speedometer:before { content: "\e62a"; }
.icon-tablet:before { content: "\e62b"; }
.icon-target:before { content: "\e62c"; }
.icon-tools:before { content: "\e62d"; }
.icon-tools2:before { content: "\e62e"; }
.icon-video:before { content: "\e62f"; }
.icon-upload:before { content: "\e630"; }
.icon-arrowdown:before { content: "\e631"; }
.icon-arrowdowncircle:before { content: "\e632"; }
.icon-arrowleft:before { content: "\e633"; }
.icon-arrowleftcircle:before { content: "\e634"; }
.icon-arrowright:before { content: "\e635"; }
.icon-arrowup:before { content: "\e636"; }
.icon-arrowupcircle:before { content: "\e637"; }
.icon-checkmarkcircle:before { content: "\e638"; }
.icon-chevrondown:before { content: "\e639"; }
.icon-chevrondowncircle:before { content: "\e63a"; }
.icon-chevronleft:before { content: "\e63b"; }
.icon-chevronleftcircle:before { content: "\e63c"; }
.icon-chevronright:before { content: "\e63d"; }
.icon-chevronup:before { content: "\e63e"; }
.icon-chevronupcircle:before { content: "\e63f"; }
.icon-cross:before { content: "\e640"; }
.icon-menu:before { content: "\e642"; }
.icon-pluscircle:before { content: "\e641"; }
